.main{
    background-image: url("../assets/background.png") ;
    background-size: cover;
    background-position: center;
}

.card{
    width: 700px;
    background-image: url('../assets/red-texture.jpg');
    background-size: cover;
    background-position: center;
}

*{
    font-family:"Aguafina",cursive ;
    font-weight: bold;
    font-size: larger;
    font-weight: lighter
}